* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

input, button, textarea {
    outline: none;
    font-family: "Open Sans";
}

.container {
    width: 1010px;
    margin: 0 auto;
    padding: 0 15px;
}

.cfix::after {
    content: '';
    display: block;
    clear: both;
}

a{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header {
    padding-bottom: 18px;
}

header .table {
    display: table;
    width: 100%;
}

header .left {
    display: table-cell;
    width: 33.3333%;
    vertical-align: top;
    text-align: left;
}

header .logo {
    display: table-cell;
    width: 33.3333%;
    vertical-align: top;
    text-align: center;
}

header .right {
    display: table-cell;
    width: 33.3333%;
    vertical-align: top;
    text-align: right;
}

header .login {
    font-size: 13px;
    line-height: 18px;
    color: #0069b4;
}

header .login:hover {
    text-decoration: none;
}

header .menu a {
    font-size: 13px;
    line-height: 28px;
    color: #333333;
}

header .menu a:hover {
    text-decoration: none;
}

.menu li {
    display: inline-block;
    margin-right: 18px;
}

header .phone {
    font-size: 20px;
    line-height: 20px;
    color: #333333;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

header .phone:hover {
    color: #1a9547;
}

header .phone span {
    opacity: 1;
}

@keyframes phoneAnimation {
    0%{
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
        opacity: 1;
    }
    50%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

header .phone span:before {
    animation-name: phoneAnimation;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

header .callback {
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #0069b4;
    border-bottom: 1px dashed #0069b4;
    -webkit-transition: border-bottom 0.3s;
    -moz-transition: border-bottom 0.3s;
    -o-transition: border-bottom 0.3s;
    transition: border-bottom 0.3s;
}

header .callback:hover {
    border-bottom: 1px dashed transparent;
}

header p.timing {
    font-size: 13px;
    line-height: 19px;
    color: #999999;
}

header .basket {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    text-decoration: none;
    display: inline-block;
    padding-left: 28px;
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

header .basket:hover {
    color: #1a9547;
}

header .basket span {
    color: #1a9547;
}

header [class*="icon"] {
    color: #caebd4;
}

header .login [class*=icon] {
    font-size: 18px;
}

header .phone [class*="icon"] {
    font-size: 20px;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.banner .sale {
    width: 305px;
    height: 360px;
}

.banner .slider {
    width: 645px;
    position: relative;
}

.banner .slider .item{
    width: 645px;
    height: 360px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner > div {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#customDots {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}

#customDots button {
    padding: 0;
    border: none;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 0.7;
    margin: 0 4px;
}

#customDots button:hover {
    opacity: 1;
}

.advSub {
    margin-bottom: 30px;
}

.advantages {
    width: calc(100% - 320px);
    float: left;
}

.advantages .item {
    width: 25%;
    float: left;
}

.advantages .item span {
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    color: #333333;
    display: block;
    margin-top: 18px;
}

.advantages .item p {
    font-size: 12px;
    line-height: 14px;
    color: #666666;
    margin-top: 11px;
}

.subscribe {
    background-color: #63b849;
    width: 320px;
    float: left;
}

.subscribe form {
    padding: 10px 19px 19px 19px;
}

.subscribe label {
    line-height: 24px;
    font-size: 16px;
    color: #ffffff;
}

.subscribe input {
    font-size: 13px;
    line-height: 37px;
    color: #999999;
    border: none;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 14px;
}

.subscribe button {
    font-size: 13px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
    background-color: #259c47;
    border: none;
    width: 188px;
    display: table-cell;
    vertical-align: middle;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1;
}

.subscribe button:hover {
    opacity: 0.7;
}

.subScribe .wrap {
    width: 100%;
    display: table;
}

.subscribe .wrap span {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    display: table-cell;
    vertical-align: middle;
    padding-left: 25px;
}

.catalog {
    margin-bottom: 60px;
}

.filter {
    margin-bottom: 30px;
}

.filter li {
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px dashed #666666;
    display: inline-block;
    -webkit-transition: border-bottom 0.3s;
    -moz-transition: border-bottom 0.3s;
    -o-transition: border-bottom 0.3s;
    transition: border-bottom 0.3s;
}

.filter li:hover {
    border-bottom: 1px dashed transparent;
}

.filter li+li {
    margin-left: 15px;
}

.filter li a {
    text-decoration: none;
    color: #666666;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.card {
    position: relative;
    border-bottom: 1px solid #e4e4e4;
    z-index: 1;
}

.thumbnail {
    position: absolute;
    display: none;
    top: -12px;
    right: -12px;
    padding: 11px;
    width: 313px;
    height: 356px;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.thumbnail .pic {
    margin-bottom: 10px;
    width: 53px;
    height: 53px;
    background-size: cover;
    background-repeat: no-repeat;
}

.thumbnail .pic.active {
    border: 1px solid #259c47;
}

.cards .card .status {
    position: absolute;
    display: block;
    top: -3px;
    left: -3px;
    width: 43px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}

.card .img {
    width: 220px;
    height: 220px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card .title {
    font-size: 15px;
    line-height: 22px;
    color: #333333;
    display: block;
}

.card a {
    font-size: 15px;
    line-height: 22px;
    color: #0069b4;
}

.card .price {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #333333;
    display: inline-block;
    vertical-align: top;
}

.card .price .old {
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    text-decoration: line-through;
    color: #666666;
    display: inline-block;
    vertical-align: top;
}

.card .content {
    position: relative;
    min-height: 95px;
}

.card .content .buy {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
}

.card .buy button {
    background-color: #ff7100;
    width: 103px;
    height: 32px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    float: right;
    display: inline-block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
}

.card .buy button:hover {
    border: 1px solid #ff7100;
    background-color: #fff;
    color: #ff7100;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.status.hit {
    background-color: #6eddcc;
}

.status.discount {
    background-color: #ffed03;
}

.status.new {
    background-color: #78ec71;
}

.socials {
    margin-bottom: 30px;
}

.socials h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: #666666;
    margin-bottom: 60px;
}

.socials .wrap {
    display: flex;
    justify-content: space-between;
}

.socialItem {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.socialItem:first-child, .socialItem:last-child {
    width: 290px;
    height: 400px;
}

.socialItem:nth-child(2) {
    width: 350px;
    height: 400px;
}

.info {
    padding-bottom: 30px;
}

.info .tabs {
    margin-bottom: 20px;
}

.info .tabs li {
    display: inline-block;
}

.info .tabs li a {
    width: 100%;
    font-size: 14px;
    text-decoration: none;
    line-height: 45px;
    color: #999999;
    padding-left: 12px;
    padding-right: 18px;
    height: 100%;
    display: inline-block;
}

.info .tabs li a:hover {
    background-color: #f2fff7;
    color: #1c9847;
}

.info .content {
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

.info .title {
    text-transform: uppercase;
    position: relative;
    display: block;
    padding-left: 25px;
}

.info .title::before {
    content: '';
    display: block;
    top: 50%;
    left: 0;
    border-top: 5px solid #333333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transition: all 0.3s;
    position: absolute;
}

.info .title.active::before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

footer {
    padding-top: 33px;
    padding-bottom: 53px;
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
    background-color: #64ba4a;
}

footer a {
    display: table;
    text-decoration: none;
    color: #ffffff;
}

footer a[class*="icon"] {
    font-size: 21px;
    display: inline-block;
    margin-left: 8px;
}

.footMenu {
    width: 50%;
    float: left;
}

.footMenu .col {
    width: 50%;
    float: left;
}

.contacts {
    float: left;
    width: 25%;
}

.copyright {
    float: left;
    width: 25%;
}

.copyright span {
    display: block;
    text-align: right;
}

.copyright span a {
    display: inline;
    border-bottom: 1px solid #ffffff;
}

.socialItem:first-child, .socialItem:last-child {
    width: 290px;
    height: 400px;
}

.socialItem:nth-child(2) {
    margin: 0 25px;
    width: 350px;
    height: 400px;
}

.socialItem {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.breadcrumbs a, li{
    font-size: 12px;
    color: #999999;
    text-decoration: none;
}

.clientWrap .left p{
    font-size: 13px;
    color: #333333;
}

.clientForm {
    background-color: #f9f9f9;
}

.clientForm form label {
    font-size: 13px;
    color: #666666;
    font-style: italic;
}

.chooseLogoAdd .drawing {
    font-size: 13px;
    color: #333333;
}

.chooseLogoAdd .waiting {
    font-size: 11px;
    color: #999999;
}

.chooseLogoAdd label {
    font-size: 13px;
    color: #666666;
}

.logoAdd .textLogoAdd {
    font-size: 13px;
    color: #229647;
    text-decoration: underline;
}

.logoAdd span {
    font-size: 11px;
    color: #999999;
}

.quantity, .workDate, .leftInfo label {
    font-size: 13px;
    color: #666666;
    font-style: italic;
}

.formButton {
    font-size: 14px;
    color: #ffffff;
    background-color: #ff7200;
    width: 130px;
    height: 30px;
    border: 0;
}

.clientWrap .right h3 {
    font-size: 25px;
    color: #333333;
}

.clientWrap .right p {
    font-size: 13px;
    color: #333333;
}

.clientButton {
    font-size: 14px;
    color: #ffffff;
    background-color: #64ba4a;
    width: 195px;
    height: 35px;
    border: 0;
}

.content h3 {
    font-size: 18px;
    color: #333333;
}

.content .date {
    font-size: 12px;
    color: #aaaaaa;
}

.content p {
    font-size: 13px;
    color: #333333;
}

.otherNews {
    font-size: 13px;
    color: #0069b4;
}

.orderForm fieldset {
    border: 0;
}

.chooseCity label {
    font-size: 13px;
    color: #666666;
    font-style: italic;
}

.chooseCity option {
    font-size: 13px;
    color: #333333;
}

.chooseDelivery label {
    font-size: 13px;
    color: #333333;
}

.chooseDelivery span {
    font-weight: 600;
    font-size: 15px;
}

.chooseDelivery p {
    font-size: 12px;
    color: #666666;
}

.chooseDelivery .additional {
    font-weight: normal;
    font-size: 12px;
    color: #f26522;
}

.deliveryInfo span {
    font-size: 15px;
    color: #333333;
    font-weight: 600;
}

.deliveryInfo label {
    font-size: 13px;
    color: #666666;
    font-style: italic;
}

.deliveryInfo label span {
    color: #ee393e;
}

.choosePay span {
    font-weight: 600;
    font-size: 15px;
    color: #333333;
}

.choosePay label {
    font-size: 13px;
    color: #333333;
}

.choosePay p {
    font-size: 12px;
    color: #666666;
}

.yourInfo span {
    font-weight: 600;
    font-size: 15px;
    color: #333333;
}

.yourInfo label {
    font-size: 13px;
    color: #666666;
    font-style: italic;
}

.yourInfo button {
    font-size: 14px;
    color: #ffffff;
    background-color: #ea5b0c;
    width: 195px;
    height: 35px;
    border: 0;
}

.call {
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #64ba4a;
    position: fixed;
    right: 100px;
    bottom: 200px;
    border-radius: 50px;
}

.call [class*="icon"] {
    font-size: 25px;
    line-height: 50px;
    color: #ffffff;
}

.call::before {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #64ba4a;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.2;
    color: #ffffff;
    animation: circleFill 2.2s infinite ease-in-out;
}

.call::after {
    content: '';
    display: block;
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border: 1px solid #64ba4a;
    border-radius: 50%;
    z-index: -1;
    animation: circle 2.2s infinite ease-in-out;
}

@keyframes circleFill {
    0% {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0.2;
    }
    100% {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0.2;
    }
}

@keyframes circle {
    0% {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0.01;
    }
    30% {
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0.01;
    }
}

/*-------------------------КЛИЕНТАМ-------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------*/

.breadcrumbs {
    font-size: 12px;
    font-weight: normal;
    line-height: 12px;
    color: #999999;
    padding-bottom: 22px;
}

.breadcrumbs li {
    display: inline-block;
}

.breadcrumbs a {
    text-decoration: none;
    color: #999999;
}

.clientWrap{
    padding-bottom: 55px;
}

.clientWrap .left {
    width: 305px;
    float: left;
}

.clientWrap .left p {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    color: #333333;
    margin-bottom: 20px;
}

.clientWrap .left .formClientWrap {
    background-color: #f9f9f9;
    width: 100%;
    padding: 14px 10px 20px 10px;
}

.clientWrap .left .labelFormClient {
    font-size: 13px;
    font-weight: normal;
    font-style: italic;
    line-height: 22px;
    color: #666666;
}

.clientWrap .formSize {
    width: 283px;
    height: 27px;
}

.clientWrap .left input {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 10px;
    font-weight: normal;
    color: #333333;
    display: block;
}

.clientWrap .addLogo .leftLogo{
    width: 145px;
    float: left;
}

.clientWrap .addLogo .writeLogo {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    color: #333333;
}

.clientWrap .left .signature {
    font-size: 11px;
    font-weight: normal;
    line-height: 11px;
    color: #999999;
    display: block;
}

.clientWrap .addLogo .rightLogo{
    width: calc(100% - 175px);
    float: right;
}

.clientWrap .addLogo .rightLogo li{
    display: inline-block;
    float: left;
    width: 50%;
}

.clientWrap .left .addLogo label {
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    color: #666666;
    display: inline-block;
    position: relative;
    padding-right: 20px;
    text-align: right;
}

.clientWrap .addLogo input{
    display: none;
}

.addLogo .radioBtn:not(checked) + label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 27px;
    width: 15px;
    height: 15px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    transition: all 0.3s;
}

.addLogo .radioBtn:not(checked) + label::after {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: 33px;
    width: 7px;
    height: 7px;
    background-color: #51bf87;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s;
}

.addLogo .radioBtn:checked + label::before {
    border-color: #51bf87;
}

.addLogo .radioBtn:checked + label::after {
    opacity: 1;
}

.addLogo .radioBtn + label {
    cursor: pointer;
}

.clientWrap .left .addFile input {
    display: none;
}

.clientWrap .left .addFile{
    margin-top: 8px;
}

.clientWrap .left .addFile label {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    text-decoration: underline;
    color: #229647;
}

.clientWrap .left .howMany{
    margin-top: 14px;
    margin-bottom: 7px;
}

.clientWrap .left .howMany select{
    width: 84px;
    display: block;
}

.clientWrap .date div input{
    width: 106px;
    display: inline-block;
}

.clientWrap .date div img{
    margin-left: 6px;
    display: inline-block;
    vertical-align: middle;
}

.clientWrap .addInf textarea{
    height: 124px;
    margin-bottom: 22px;
}

.clientWrap .left button {
    border: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    background-color: #ff7200;
    width: 130px;
    height: 31px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
}

.clientWrap .left button:hover {
    border: 1px solid #ff7100;
    background-color: #fff;
    color: #ff7100;
}

.clientWrap .right {
    width: calc(100% - 310px);
    float: left;
    padding-left: 35px;
    padding-bottom: 20px;
}

.clientWrap .right h3 {
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
    padding-bottom: 12px;
}

.clientWrap .right p {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    color: #333333;
    padding-bottom: 23px;
}

.clientWrap .right p:last-child {
    padding-bottom: 18px;
}

.clientWrap .right button {
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    border: none;
    background-color: #64ba4a;
    width: 194px;
    height: 31px;
    display: table-cell;
    vertical-align: middle;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1;
}

.clientWrap .right button:hover {
    opacity: 0.5;
}

/*----------------------------НОВОСТИ ПОДРОБНО----------------------------
--------------------------------------------------------------------------
--------------------------------------------------------------------------
-------------------------------------------------------------------------*/
.newsWrap h2 {
    font-size: 25px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
    margin-bottom: 40px;
}

.newsWrap h3 {
    margin-bottom: 5px;
}

.date {
    font-size: 12px;
    font-weight: normal;
    line-height: 22px;
    color: #aaaaaa;
    margin-bottom: 15px;
    display: inline-block;
}

.newsImg {
    background-color: #b3b3b3;
    width: 100%;
    height: 208px;
    margin-bottom: 20px;
}

.newsText {
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    color: #333333;
    margin-bottom: 28px;
}

.newsText p {
    margin-bottom: 19px;
}

.newsText + a {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    color: #0069b4;
    margin-bottom: 45px;
    display: block;
}

.chooseCity select {
    width: 288px;
    height: 27px;
    border: 1px solid #d6d6d6;
}

.chooseCity {
    margin-top: 14px;
    padding-bottom: 26px;
    border-bottom: 1px solid #e4e4e4;
}

.ChooseCity select {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    color: #333333;
    display: block;
}

.methodDelivery {
    margin-top: 15px;
    padding-bottom: 18px;
    border-bottom: 1px solid #e4e4e4;
}

.methodDelivery span:nth-child(1) {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
    margin-bottom: 20px;
}

.methodDelivery label {
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    color: #333333;
}

.methodDelivery p {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    color: #666666;
}

.methodDelivery .additional {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    color: #f26522;
}

.orderList li {
    width: 460px;
    padding-left: 40px;
    margin-top: 10px;
}

.orderList label {
    position: relative;
    padding-left: 40px;
    margin-left: -40px;
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

.orderList input {
    display: none;
}

.orderList input:not(checked) + label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    width: 15px;
    height: 15px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    transition: all 0.3s;
}

.orderList input:not(checked) + label::after {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left:6px;
    width: 7px;
    height: 7px;
    background-color: #51bf87;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s;
}

.orderList input:checked + label::before {
    border-color: #51bf87;
}

.orderList input:checked + label::after {
    opacity: 1;
}

.orderList input + label {
    cursor: pointer;
}

.deliveryInfo div {
    margin-top: 9px;
}

.deliveryInfo input {
    display: block;
}

.deliveryInfo .deliveryStrDist input {
    width: 288px;
    height: 27px;
}

.deliveryInfo textarea {
    display: block;
    width: 288px;
}

.deliveryInfo div textarea {
    height: 104px;
}

.deliveryFlex {
    display: flex;
}

.deliveryFlex .deliveryArea1 input {
    width: 57px;
    height: 27px;
}

.deliveryFlex .deliveryArea2 input {
    width: 57px;
    height: 27px;
}

.deliveryFlex .deliveryArea3 input {
    width: 95px;
    height: 27px;
}

.deliveryFlex .deliveryArea2 {
    padding-left: 40px;
}

.deliveryFlex .deliveryArea3 {
    padding-left: 39px;
}

.choosePay {
    margin-top: 16px;
    padding-bottom: 18px;
    border-bottom: 1px solid #e4e4e4;
}

.choosePay span:first-child {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
    margin-bottom: 15px;
}

.choosePay label {
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    color: #333333;
}

.choosePay p {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    color: #666666;
}

.yourInfo div {
    margin-top: 9px;
}

.yourInfo input {
    display: block;
}

.yourInfo input {
    width: 288px;
    height: 27px;
}

.yourInfo label span {
    color: #ee393e;
}

.yourInfo {
    margin-top: 15px;
    padding-bottom: 67px;
}

.yourInfo > span {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
    margin-bottom: 15px;
    display: inline-block;

}

.yourInfo .starLabel span {
    font-size: 13px;
    font-weight: normal;
    font-style: italic;
    line-height: 22px;
    color: #ed1c24;
}

.yourInfo div input {
    display: block;
    margin-bottom: 10px;
}

.yourInfo button {
    width: 191px;
    height: 35px;
    border: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    background-color: #ff7200;
    margin-top: 23px;
}

@media (max-width: 1199px) {
    .container {
        width: 980px;
    }

    .banner .sale {
        width: 295px;
        height: 350px;
    }

    .banner .slider {
        width: 620px;
        height: 350px;
    }

    .subScribe {
        width: 300px;
    }

    .advantages {
        width: calc(100% - 300px);
    }

    .card img {
        height: 215px;
    }

    .socials {
        display: none;
    }
}

@media (max-width: 991px) {
    .container {
        width: 780px;
    }

    .banner .sale {
        width: 220px;
        height: 260px;
    }

    .banner .slider {
        width: 468px;
        height: 264px;
    }

    .advantages {
        width: 100%;
        margin-bottom: 22px;
    }

    .subscribe {
        width: 100%;
    }

    .subscribe .wrap {
        display: inline-block;
    }

    .subscribe button {
        display: inline-block;
    }

    .subscribe .wrap span {
        display: inline-block;
    }

    .filter {
        display: none;
        margin-bottom: 30px;
        width: 100%;
        height: 45px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }

    .card img {
        width: 100%;
        height: 218px;
    }

    footer {
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .footMenu {
        float: none;
        width: 100%;
        text-align: center;
    }

    .footMenu .col {
        float: none;
        display: inline-block;
        width: 100%;
    }

    .footMenu a {
        display: inline-block;
        margin-right: 21px;
    }

    .footMenu ul li:last-child a {
        margin-right: 0;
    }

    .footMenu li {
        display: inline-block;
    }

    .contacts {
        float: left;
        width: 50%;
    }

    .contacts div span {
        display: block;
    }

    .copyright {
        float: right;
        width: 50%;
    }

}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }

    .banner {
        display: none;
    }

    .advSub {
        display: none;
    }

    .filter {
        display: none;
    }
}